[Unit]
Description=pull from github
After=network.target

[Service]
Type=simple
User=pi
ExecStart=sudo -u pi -i git --git-dir=/home/pi/RaspberryPi_WebServer/.git --work-tree=/home/pi/RaspberryPi_WebServer/ pull origin master > ~/pullStatus
WorkingDirectory=/home/pi/RaspberryPi_WebServer/

Restart=on-abort
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pullWhistle

[Install]
WantedBy=multi-user.target
